/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary
img/공유앨범.gif filter=lfs diff=lfs merge=lfs -text
img/공유이상현상.gif filter=lfs diff=lfs merge=lfs -text
img/공유이현상.gif filter=lfs diff=lfs merge=lfs -text
img/공ᄋg/일정관리.gif[[:space:]] filter=lfs diff=lfs merge=lfs -text
img/일정관리.gif filter=lfs diff=lfs merge=lfs -text
img/이상현상.gif filter=lfs diff=lfs merge=lfs -text
